<div id="objective">
    <mat-accordion>
        <mat-expansion-panel [expanded]="true" [disabled]="true" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title > Profile Summary </mat-panel-title>
          </mat-expansion-panel-header>
          <hr>
          <p><b>
            Master's student with software development experience, skilled in problem-solving and delivering real-world
    projects. Seeking a challenging role to leverage my academic and professional expertise in software sector.
          </b></p>
        </mat-expansion-panel>
    </mat-accordion>
</div>
  