<div class="header-main-wrapper">
    <div class="header-left">
        <div class="user-name">
            <h2>Soumendu Roy</h2>
        </div>
        <div class="job-role ">
            <b>Software Developer</b>
        </div>
        <div class="user-loc">
            <span>Jamshedpur, India</span>
        </div>
        <div class="user-email">
            
                <span>mailto : </span>
                <a href="mailto:roysoumendu765&#64;gmail.com">roysoumendu765&#64;gmail.com</a>
            
        </div>
        <div class="user-email">
            
                <span>Phone : </span>
                <span>+91-9264257928</span>
            
        </div>
        <div class="user-email">
            
                <span><a href="https://www.linkedin.com/in/roysoumendu765/">LinkedIn</a></span>
                <span> | </span>
                <span><a href="https://github.com/roysoumendu765">Github </a></span>
                <span>
                    <button><a href="../../../../public/SoumenduRoy_Resume.pdf" download>Download</a></button>
                </span>
        </div>
    </div>
    <div class="header-right">
        <div class="profile-pic">
            
        </div>
    </div>
</div>
